
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 1096px;

$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$blackColor: #000000;
$violentColor: #587EEC;
$whiteColor: #FFFFFF;
$redColor: #EC5863;
$bg-color: #FAFBFD;
$grayColor: #616161;
