.bottom-block {
    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }
    &__title {
        text-align: center;
        padding: 20px 0;
    }

    &__main-title {
        padding-bottom: 20px;
    }

    &__main-title > span {
        color: $redColor;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        width: 23.17rem;
        height: 23.04rem;
        flex-wrap: wrap;
        flex: 0 1 auto;
        @include adaptiv-value("margin-left", 18, 5, 0);
        @include adaptiv-value("margin-right", 18, 5, 0);
    }
    &__text {
        padding: 60px 0 0;
    }
    &__desc {
        padding: 0 5px;
    }
    &__apps {
        display: flex;
        padding: 75px 0;
        margin: 0 -35px;
    }

    &__google-play {
        padding: 0 35px;
    }

    &__app-store {
        padding: 0 35px;
    }
}
