.count-block {

    &__wrapper {
        background-color: $bg-color;
    }

    &__container {
    }

    &__box {
        display: flex;
        justify-content: center;
        padding: 0 0 79px 0;
        position: relative;
        z-index: 5;
    }

    &__items {
        width: 654px;
        height: 117px;
        box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
        border-radius: 16px;
        background: $whiteColor;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
    }

    &__text {
        font-weight: 700;
        font-size: 11px;
        letter-spacing: 0.37em;
        line-height: 13 / 11 * 100%;
        text-transform: uppercase;
        
    }

    &__pic-one {
    }

    &__pic-two {
    }

    &__pic-three {
    }
}

.count-block__box::after {
    content: "";
    width: 10.62rem;
    height: 10.62rem;
    border-radius: 30px;
    transform: rotate(-30deg);
    background: $redColor;
    position: absolute;
    z-index: -1;
    right: 10%;

}
.count-block__box::before {
    content: "";
    width: 5.48rem;
    height: 5.48rem;
    background: $redColor;
    border-radius: 16px;
    transform: rotate(-30deg);
    left: 17%;
    top: 31%;
    position: absolute;
    z-index: -1;
}
.count-block__items::before {
    content: "";
    width: 8.08rem;
    height: 8.08rem;
    background: $redColor;
    border-radius: 30px;
    transform: rotate(105deg);
    position: absolute;
    z-index: -1;
    top: -22%;
    left: 37%;
}
