.doc-block {
}

.doc-block__wrapper {
    height: max-content;
    position: relative;
}

.doc-block__container {
    position: relative;
    max-width: 1012px;
}

.doc-block__page {
    padding: 40px 0 0 0;
}

.doc-block__box {
    position: relative;
    z-index: 8;
}

.doc-block__wrapper::before {
    content: "";
    width: 24.608rem;
    height: 100%;
    background-color: $redColor;
    position: absolute;
    right: 0;

    @media (max-width: $md3) {
        display: none;
      } 
  }
 