@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

body {
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: calc(30px + (44 - 30) * ((100vw - 320px) / (1096 - 320)));
    line-height: 55 / 44 * 100%;
    @media (max-width: $md3) {
        display: block;
        text-align: center;
      }
    
}
h2 {
    font-weight: bold;
    font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (1096 - 320)));
    line-height: 43 / 36 * 100%;
    color: $redColor;
    letter-spacing: 0.14em;
}

.main-text {
    color: $grayColor;
    line-height: 16 / 12 * 100%;
    letter-spacing: 0.08em;
    @media (max-width: $md3) {
        text-align: center;
      }
}

a {
    letter-spacing: 0.14em;
}

.watch-video {
    &__gray-text {
        font-size: 13px;
        color: #B0B0B0;
        letter-spacing: 0.08em;
        line-height: 16 / 13 * 100%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__sm-text {
        font-size: 9px;
        line-height: 11 / 9 * 100%;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        color: $blackColor;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.bottom-block__text {
    font-size: 16px;
    line-height: 22.16 / 16 * 100%;
    letter-spacing: 0.08em;
    font-weight: 700;
}
