.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  
    &__wrapper {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background: $bg-color;
    }  
    &__body {
      display: flex;
      align-items: center;
      min-height: 114px;
    }
  
    &__logo {
      display: flex;
      flex: 0 0 430/1096 * 100%;    /*Ширина блока, делим на ширину огранич. контейнера*/
      padding: 0 0 0 9px;
      position: relative;
      z-index: 20;
      @media (max-width: $md3) {
        position: relative;
        z-index: 0;
      }   
      img {
        vertical-align: middle;
      }
      a {
        color: $blackColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 21 / 18 * 100%; /*line height делим на размер шрифта*/
      }
      .red-text {
        color: $redColor;
  
      }
    }
    &__download {
      margin-left: auto;
      position: relative;
      z-index: 20;
      @media (max-width: $md3) {
        position: relative;
        z-index: 5;
        transform: translate(-66%);
      }  
    }
  }

  .header__wrapper::before {
    content: "";
    width: 24.608rem;
    height: 100%;
    background-color: $redColor;
    position: absolute;
    right: 0;
    border-radius: 30px 0 0;
    z-index: -1;
    @media (max-width: $md3) {
      display: none;
    } 
  }
 
  @media (max-width: $md4) {
    .header__logo span {
      display: none;
    }
    .header__download {
      left: -50%;
      transform: translate(50%);
    }
    .header__body {
      min-height: 80px;
    }
  } 


  .menu {
    flex: 0 1 345/1096 * 100%;
  
    &__body {
    }
  
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
        li {
          line-height: 20px;
        }
    }
    &__link {
      font-weight: 700;
      font-size: 10px;
      color: inherit;
      transition: color 0.3s ease 0s;
      &:hover {
        color: $redColor;
      }
    }
  }

  .menu__list > li:not(:last-child) {
    padding: 0 20px 0 0;
  }

  .menu__icon {
    display: none;
    @media (max-width: $md4) {
      top: 30px;
    }
  }


  @media (max-width: $md3) {
    .menu__icon {
      z-index: 20;
      display: block;
      position: fixed;
      width: 25px;
      height: 18px;
      cursor: pointer;
      right: 44px;
      top: 48px;
    }
    .menu__icon span,
    .menu__icon::before, 
    .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background: #000;
    }
    .menu__icon::before, 
    .menu__icon::after {
      content: "";
    }
    .menu__icon::before {
      top: 0;
    }
    .menu__icon::after {
      bottom: 0;
    }
    .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: auto;
      z-index: 50;
    }
    .menu__body._active {
      left: 0;
    }

    .menu__list {
      display: flex;
      flex-direction: column;
    }

    .menu__list > li {
      margin: 0 0 30px 0;
      text-align: center;
    }
    .menu__list > li:last-child {
      margin-bottom: 0;
    }
    .menu__list > li > a {
      font-size: 24px;
      color: $redColor;
      position: relative;
      z-index: 20;
    }
  }