.mobile-block {
    background: #fff;
    position: relative;
    z-index: 9;

    &__container {
    }

    &__wrapper {
    }

    &__page {
        padding: 79px 0;
        position: relative;
    }

    &__image {
        padding-left: 30px;
    }
    &__box {
    }

    &__title > span{
        color: $redColor;
    }

    &__text {
    }

    &__btn {
    }
}


.mobile-block {
}

@media (max-width: $md3) {
    .mobile-block__box {
        padding: 20px 0 0;
    }
}

@media (max-width: $md2) {
    .mobile-block__image {
        padding: 0;
    }
}
