.watch-video {
    background-color: $bg-color;

    &__container {
        display: flex;
        align-items: center;
        height: 136px;
    }

    &__wrapper {
        height: 100%;
        position: relative;
        
    }

    &__icon {
        height: 44px;
        width: 44px;
        border: 1px solid #4285F4;
        border-radius: 50%;
        cursor: pointer; 
    }


    &__desc {
        padding: 0 0 0 12px;
    }

    &__gray-text {
    }

    &__sm-text {
    }
}


.watch-video__icon > span { 
    display: block;
    width: 1px;
    height: 14px;
    position: relative;
    background-color: #4285F4;
    top: 14px;
    left: 17px;
}


.watch-video__icon > span::before {
    content: " ";
    display: block;
    width: 14px;
    height: 1px;
    background: #4285F4;
    transform: rotate(30deg);
    position: relative;
    top: 3px;
    right: 1px;
}
.watch-video__icon > span::after {
    content: " ";
    display: block;
    width: 14px;
    height: 1px;
    background: #4285F4;
    transform: rotate(-30deg);
    position: relative;
    top: 9px;
    left: -1px;
}


.watch-video__wrapper {
    @media (max-width: $md3) {
        max-height: 120px;
        display: flex;
        justify-content: center;
      }
}


.watch-video__wrapper::before {
    content: "";
    width: 24.608rem;
    height: 100%;
    background-color: $redColor;
    position: absolute;
    right: 0;
    border-radius: 0 0 0 30px;
    @media (max-width: $md3) {
        display: none;
      } 
  }
